.form__close-btn {
  background: center url(../../../images/Close-Icon.svg);
  position: absolute;
  left: calc(50% + 215px);
  top: calc(50% - 205px);
  height: 40px;
  width: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s linear;
}

.form__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 520px) {
  .form__close-btn {
    left: calc(50% + 105px);
    height: 26px;
    width: 26px;
  }
}