.header {
  height: 74px;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  margin: auto;
  transition: .8s linear;
}

@media screen and (max-width: 934px) {
  .header {
    height: 56px;
  }
}