.form__submit-btn {
  padding: 0;
  height: 50px;
  width: 358px;
  background: black;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
  transition: height 1s linear;
  transition: width 1s linear;
}

.form__submit-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 520px) {
  .form__submit-btn {
    height: 46px;
    width: 238px;
  }
}