.place__like-btn { 
  background: center no-repeat url(../../../images/place__like-btn.svg);
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
}

.place__like-btn:hover {
  opacity: .5;
}